*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    background-color: #424C55;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    /* font-weight: bold; */
    color: #D1CCDC;
}
.div1{
    font-size: 2rem;
    border: 4px solid #D1CCDC;
    width: 350px;
    height:450px;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.div2{
    border: 4px solid #D1CCDC;
    width: 250px;
    height: 300px;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background-color: #424C55;
    border: 2px solid #D1CCDC;
    color: #D1CCDC;
    padding: 10px 30px;
    margin: auto auto;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}
.spacer {
    padding: 50px;
}


.delegator{
    border: 4px solid #D1CCDC;
    width: 250px;
    /* height: 300px; */
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.delegator button{
    margin: 3px 0;
    
}
.delegator button:hover{
    background-color: #4C0827;
    
    transition:1s ;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container h2{
    padding-bottom: 20px;
}